<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.diamond.web.persistence.ConfUserMapper" >
  <resultMap id="BaseResultMap" type="com.github.diamond.web.model.ConfUser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ROLE_RESULTMAP" type="com.github.diamond.web.vo.ConfRoleVo">
    <result column="PROJ_ID" property="projId" jdbcType="INTEGER"/>
    <result column="USER_ID" property="userId" jdbcType="INTEGER"/>
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_CODE, USER_NAME, PASSWORD, DELETE_FLAG, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="queryByPK" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from conf_user
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryUserByUserCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from conf_user
    where user_code = #{userCode,jdbcType=INTEGER}
  </select>

  <select id="queryUserList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from conf_user
    where DELETE_FLAG=0
  </select>
  
  <select id="generatorId" resultType="java.lang.Long">
    SELECT MAX(id)+1 FROM conf_user
  </select>

  <select id="queryUsersByProjId" resultMap="BaseResultMap">
    SELECT a.ID, a.USER_CODE, a.USER_NAME FROM conf_user a WHERE a.ID NOT IN
    (SELECT b.USER_ID FROM conf_project_user b WHERE b.PROJ_ID=#{projectId,jdbcType=INTEGER})
     AND a.DELETE_FLAG=0
  </select>

  <select id="queryProjUsers" resultMap="BaseResultMap">
    SELECT a.ID, a.USER_CODE, a.USER_NAME FROM conf_user a WHERE a.ID IN
    (SELECT b.USER_ID FROM conf_project_user b WHERE b.PROJ_ID=#{projId,jdbcType=INTEGER}) AND a.DELETE_FLAG=0
  </select>

  <select id="queryRoles" resultMap="ROLE_RESULTMAP">
    SELECT c.ROLE_CODE FROM conf_project_user_role c WHERE c.PROJ_ID = #{projectId,jdbcType=INTEGER}
      AND c.USER_ID = #{userId,jdbcType=INTEGER} ORDER BY c.ROLE_CODE
  </select>

  <insert id="insertPrjUsr">
    insert into conf_project_user (PROJ_ID, USER_ID) values (#{projId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>

  <insert id="insert" parameterType="com.github.diamond.web.model.ConfUser" >
    insert into conf_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.github.diamond.web.model.ConfUser" >
    update conf_user
    <set >
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <delete id="delProjectUserRole">
    delete from conf_project_user_role where PROJ_ID = #{projId,jdbcType=INTEGER} and USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="delProjectUser">
    delete from conf_project_user where PROJ_ID = #{projId,jdbcType=INTEGER} and USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insertConfProjUserRole">
    insert into conf_project_user_role (PROJ_ID, USER_ID, ROLE_CODE) values
    (#{projectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},#{roleCode,jdbcType=VARCHAR})
  </insert>
</mapper>